<div class="card">
    <form class="form create-task" action="/create" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="title" />
        </div>
        <div>
            <br />
            <label for="desc">Description</label>
            <textarea id="desc" name="desc" rows="10"></textarea>
        </div>

        <br />
        <button class="task-create-btn" type="submit">Add Todo</button>
    </form>
</div>